
version: '3.8'

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tet-lucky-wheel
    ports:
      - "3006:3000"
    environment:
      - NODE_ENV=production
